*{
    margin: 0;
    padding: 0;
}

html, body{
    min-height: 100vh;
}

:root{
    --black : #222831;
    --grey: #393E46;
    --teal: #00ADB5;
    --white: #EEEEEE;
}

body{
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    max-inline-size: 100%;
    block-size: auto;
    object-fit: cover;
}

header{
    min-width: 100vw;
    background-color: var(--teal);
    color: var(--white);
    font-size: 1.3rem;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

main{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1em;
    margin-top: 3em;
    width: 90%;
}

input{
    margin-top: 3em;
    width: 50%;
    height: 2em;
    border: 2px var(--teal) solid;
    border-radius: 10px;
    background-color: var(--white);

}

input:focus, input:active{
    border-color: var(--teal);
}

.spinner{
    width: 3em;
    height: 3em;
    background: linear-gradient(to top, var(--white) 50%, var(--teal)50%);
    border-radius: 50%;
    animation-name: spin-animation;
    animation-timing-function: linear;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.inner-spinner{
    height: 2.5em;
    width: 2.5em;
    background-color: var(--white);
    border-radius: 50%;
    position: relative;
    top: 0.25em;
    left : 0.25em;
}

@keyframes spin-animation {
    0%{
        transform: rotateZ(0deg);
    }
    25%{
        transform: rotateZ(90deg);
    }
    50%{
        transform: rotateZ(180deg);
    }
    75%{
        transform: rotateZ(270deg);
    }
    100%{
        transform: rotateZ(360deg)
    }
    
}


